<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body class="p-4 shadow-sm ">
    <marquee class="bg-warning p-2" behavior="" direction="">သမ္မတ ဦးဝင်းမြင့်ကိုလည်း ထောင် ၇ နှစ်ထပ်မံချမှတ်၊ စုစုပေါင်း ထောင် ၁၂ နှစ်အထိရှိလာ

        နိုင်ငံတော်အတိုင်ပင်ခံပုဂ္ဂိုလ် ဒေါ်အောင်ဆန်းစုကြည်နဲ့ သမ္မတ ဦးဝင်းမြင့်တို့ ရင်ဆိုင်နေရတဲ့ အဂတိအမှု ငါးမှုကို နေပြည်တော်အချုပ်ထောင်တွင်းအထူးတရားရုံးက ဒီကနေ့ ဒီဇင်ဘာ ၃၀ ရက်မှာ အပြီးသတ်အမိန့်ချမှတ်ခဲ့ပါတယ်။
        
        ဒေါ်အောင်ဆန်းစုကြည်ကို အဂတိမှုငါးမှုမှာ ရဟတ်ယာဥ်ကို ငှားရမ်းတာနဲ့ပတ်သက်လို့ ၃မှုနဲ့ ပြုပြင်ထိန်းသိမ်းမှုတစ်မှု လေးမှုအတွက်  တစ်မှုကို ထောင်ဒဏ်  ၃ နှစ်စီနဲ့ ၁၂ နှစ်ကို တစ်ပေါင်းတည်းကျခံစေဖို့ ချတာဖြစ်လို့ စုစုပေါင်း ၃ နှစ်၊​ တစ်ခါ ရဟတ်ယာဥ် ဝယ်ယူမှုတစ်မှုအတွက် လေးနှစ် သီးခြားစီကျခံစေလို့ ချမှတ်လို့ စုစုပေါင်း အမှုငါးမှုအတွက် ထောင် ၇ နှစ်ထပ်မံချမှတ်ခံရတာဖြစ်ပါတယ်။
        
        သမ္မတ ဦးဝင်းမြင့်ကိုလည်း ဒေါ်အောင်ဆန်းစုကြည်နည်းတူအမိန့်တွေချမှတ်ခဲ့ပါတယ်။
        
         နိုင်ငံတော်အတိုင်ပင်ခံပုဂ္ဂိုလ်ဒေါ်အောင်ဆန်းစုကြည်နဲ့ သမ္မတဦးဝင်းမြင့်တို့ရင်ဆိုင်နေရတဲ့ အဂတိအမှု ၅ မှုဟာ NLD အစိုးရလက်ထက် သဘာဝဘေးတုံ့ပြန်ဖို့ ရည်ရွယ်ပြီး အီတလီထုတ်ရဟတ်ယာဥ် တစ်စီးကို ငှားရမ်း၊ ဝယ်ယူ၊ ပြင်ဆင်သုံးစွဲမှုမှာ လုပ်ထုံးလုပ်နည်းနဲ့အညီ မလုပ်ခဲ့တာကြောင့် နိုင်ငံပိုင်ငွေကြေးတွေ နစ်နာဆုံးရှုံးရတယ်ဆိုတဲ့စွပ်စွဲချက်နဲ့ စစ်ကောင်စီက တရားစွဲထားတဲ့အမှုတွေ ဖြစ်ပါတယ်။
        
        ဒီအမှုတွေဟာ လူကယ်ပြန်ဝန်ကြီးဟောင်း ဒေါက်တာဝင်းမြတ်အေးကို စစ်ကောင်စီရဲ့ အဂတိကော်မရှင်က အဂတိမှုနဲ့တိုင်ကြားချက်အပေါ် စစ်ဆေးရာကနေ သမ္မတနဲ့အတိုင်ပင်ခံကိုပါ ထပ်မံတရားစွဲဆိုခဲ့တာဖြစ်ပါတယ်။
        
        အသက် ၇၇  နှစ်အရွယ် ဒေါ်အောင်ဆန်းစုကြည်ဟာ  အခုဆို အမှုပေါင်း ၁၉ မှုအတွက် ထောင်ဒဏ် ၃၃ နှစ် ချမှတ်ခံထားရပြီး သမ္မတ ဦးဝင်းမြင့်ကတော့ အမှု ၈ မှုနဲ့ စုစုပေါင်း ထောင် ၁၂  နှစ်အထိ ရှိလာပြီဖြစ်ပါတယ်။   
        
        ဒီကနေ့ ချမှတ်ခဲ့တဲ့အမိန့်တွေနဲ့ပတ်သက်လို့ ဥပဒေအရ အယူခံ ဆက်တက်ဖို့ ဒေါ်အောင်ဆန်းစုကြည်နဲ့ သမ္မတတို့နှစ်ဦးလုံးက ညွှန်ကြားခဲ့တယ်လို့ တရားရုံးနဲ့နီးစပ်တဲ့အသိုင်းအဝိုင်းထံကသိရပါတယ်။ 
        
        ပြီးခဲ့တဲ့ သီတင်းပတ်က ကုလသမဂ္ဂလုံခြုံရေးကောင်စီက နှစ်ပေါင်း ၇၀ ကျော်အတွင်း မြန်မာ့အရေး ပထမဆုံး ချမှတ်ခဲ့တဲ့ ဆုံးဖြတ်ချက်မူကြမ်းမှာ ဒေါ်အောင်ဆန်းစုကြည်၊ သမ္မတ ဦးဝင်းမြင့်နဲ့ ဖမ်းဆီးထားသူတွေအားလုံးပြန်လွှတ်ပေးဖို့တောင်းဆိုထားပါတယ်။ 
        
        မူလက ဒီအဂတိမှုငါးမှုနဲ့ပတ်သက်လို့ ဇန်နဝါရီလမှသာ အပြီးသတ်အမိန့်ချနိုင်မယ်လို့ သတင်းတွေထွက်ပေါ်ခဲ့ပေမဲ့ အခုတော့ ဒီနေ့မှာ အပြီးသတ်အမိန့်ချဖို့ ရှိပြီး ဒေါ်အောင်ဆန်းစုကြည်အပေါ် စစ်ကောင်စီ စွဲဆိုထားတဲ့အမှုတွေအားလုံး ပြီးပြတ်သွားမှာဖြစ်ပါတယ်။ 
        
        တစ်ချိန်တည်းမှာပဲ လာမယ့် လွတ်လပ်ရေးနေ့မှာ စစ်ကောင်စီက အကျဥ်းသားတွေလွတ်ငြိမ်းချမ်းသာခွင့်ပေးဖို့ရှိတယ်ဆိုတဲ့သတင်းတွေကျယ်ကျယ်ပြန့်ပြန့်ထွက်ပေါ်သလို၊ ဒီအထဲ ဒေါ်အောင်ဆန်းစုကြည်ပါလာနိုင်တယ်ဆိုတဲ့ ယူဆချက်တွေလည်းရှိနေပါတယ်။</marquee>
    <div id="app" class="text-start container-md">

        <h1 class="text-decoration-none fw-medium text-warning">တစ်နေ့တာ လုပ်စရာစာရင်း</h1> <br>

        <input class="form-control" type="text" placeholder="တစ်နေ့တာ လုပ်စရာနာမည်" v-model="pizzaData.pizzaName">
         <small style="color:red" v-if="validation.nameStatus">တစ်နေ့တာ လုပ်စရာနာမည် ဖြည့်သွင်းပါ</small> <br> <br>

        <input class="form-control" type="text" placeholder="တစ်နေ့တာ လုပ်စရာအကြောငိးအရာ" v-model="pizzaData.pizzaPrice"> 
          <small style="color:red" v-if="validation.priceStatus">တစ်နေ့တာ လုပ်စရာအကြောငိးအရာ ဖြည့်သွင်းပါ</small> <br> <br>
        <button class="btn btn-primary shadow-lg " @click="add()">ပေါင်းထည့်မည်</button>  <br> <br>
<hr>
<h1 class="text-center text-warning"> တစ်နေ့တာ လုပ်စရာစာရင်းပြဇယား</h1> <br>
        <table class="table bg-black text-white" border="1">
            <thead>
                <tr>
                    <th>နံပါစဉ်</th>
                    <th>တစ်နေ့တာ လုပ်စရာနာမည်</th>
                    <th>တစ်နေ့တာ လုပ်စရာအကြောငိးအရာ</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in items">
                    <td scope="row">{{ item.id}}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.price }}</td>
                </tr>
            </tbody>
        </table>
        </div>

    

</body>

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    let app = new Vue({
        el: '#app' , 

data : { 
        pizzaData : {
            pizzaName: '',
            pizzaPrice : ''
        } , 
        items : [
    // (no need just watch sample code to loop ) 
            // id : 1 , 
            // name : 'pizza' , 
            // price : 20000 
        ] ,
        validation : {
            // false ဆို မနီ  [ မနီ ဖို့ false ဖို့လို ]
            nameStatus: false ,  
            priceStatus : false 
        }
},

  methods : { 


    add(){
        // first way to check validation
            // if(this.pizzaData.pizzaName == ''){
            //     this.validation.nameStatus = true
            // } else {
            //     this.validation.nameStatus = false
            // } 

            // if(this.pizzaData.pizzaPrice == ''){
            //     this.validation.priceStatus = true
            // } else {
            //     this.validation.priceStatus = false
            // }

        // second way to check validation
        this.validation.nameStatus = this.pizzaData.pizzaName == '' ? true : false ; 
        this.validation.priceStatus =this.pizzaData.pizzaPrice == '' ? true : false ;

        // true ဆို နီ ပြီး validation စာ ပေါ် မဃ် 
        if( !this.validation.nameStatus && !this.validation.priceStatus) {
            this.items.push({
            id : this.items.length + 1,
            name : this.pizzaData.pizzaName ,
            price : this.pizzaData.pizzaPrice,
        }) , this.clear();
         } 
    } ,

    clear(){
        this.pizzaData.pizzaName = "" ;
        this.pizzaData.pizzaPrice = "" ; 
    }


        } , 
   computed : {


        }
    })
</script>
</html>